/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CSS RESET ENDS*/

/* GLOBAL STYLE BEGINS*/

html {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

/*NAVBAR STYLES BEGIN*/

#navbar {
  color: chocolate;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

#navbar p {
  margin-left: 10px;
  font-weight: 400;
}

#navbarmenu {
  display: none;
}

.fa-ellipsis-v.closed {
  color: chocolate;
  margin-right: 20px;
  transition: all 0.5s 0.8s;
}

.fa-ellipsis-v.open {
  color: chocolate;
  margin-right: 20px;
  transition: all 0.5s;
  transform: rotate(90deg);
}

/*NAVBAR STYLES END*/

/*Hamburger menu styles begin*/
#hamburgercontainer.closed {
  margin-left: 115vw;
  overflow: hidden;
  transition: margin-left ease-in-out 1s 0.3s, height 1.5s 1s;
  height: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2rem;
  color: chocolate;
}

#hamburgercontainer.open {
  transition: height 1.5s 0.2s, margin-left ease-in-out 1s 1s;
  margin-left: 20px;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2rem;
  color: chocolate;
}
#hamburgercontainer a {
  color: chocolate;
  text-decoration: none;
  transition: all 0.5s;
}

#hamburgercontainer li {
  list-style: none;
  padding: 20px;
}

#hamburgercontainer a:hover {
  transition: all 0.5s;
  background-color: chocolate;
  color: white;
  list-style: none;
  padding: 20px;
}

/*Hamburger menu styles end*/

#pagecontainer {
  display: flex;
  flex-direction: column;
}

/*MAIN IMAGES STYLE BEGINS*/

.imageheader {
  display: flex;
  width: 100vw;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}

#imageheader1 {
  background-image: url("../images/tom-brunberg-nZ9wWG8jRTQ-unsplash.jpg");
}

#imageheader2 {
  background-image: url("../images/tapio-haaja-JYE2kKoG6jw-unsplash.jpg");
}

#imageheader3 {
  background-image: url("../images/srikanta-h-u-TrGVhbsUf40-unsplash.jpg");
}

.imageheadertext {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  box-sizing: content-box;
  width: 80%;
  margin: auto 15px auto 15px;
  padding: 20px;
}

.imageheadertext h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 5px;
}
.imageheadertext h4 {
  margin: 10px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  font-size: 1.2rem;
  padding: 5px;
  font-weight: 200;
}

.imageheaderbutton {
  margin-top: 50px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  box-sizing: content-box;
  margin-top: 80px;
  background-color: white;
  color: black;
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.imageheaderbutton:hover {
  background-color: rgba(209, 209, 209, 0);
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 8px;
}

/*MAIN IMAGES STYLES END*/

/*TEXT BETWEEN IMAGES STYLES BEGIN*/

.hometextcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto 0 auto;
  text-align: center;
}

.hometextcontainer h4 {
  font-weight: 400;
  font-size: 1.4rem;
  color: chocolate;
}

.hometextcontainer p {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*TEXT BETWEEN IMAGES STYLES END*/

/*LOWER IMAGES STYLE BEGINS*/

.homeimagecontainer {
  width: 300px;
  height: 200px;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hic1 {
  background-image: url(../images/f7fed23723e8f63f9ce41ab358c9b38f.jpg);
}
#hic1:hover {
  background-image: url(../images/black.png);
  transition: background-image 0.3s 0.1s;
}
#hic2 {
  background-image: url(../images/97.jpg);
}
#hic2:hover {
  background-image: url(../images/black.png);
  transition: background-image 0.3s 0.1s;
}
#hic3 {
  background-image: url(../images/moomins.jpg);
}
#hic3:hover {
  background-image: url(../images/black.png);
  transition: background-image 0.3s 0.1s;
}
#hic4 {
  background-image: url(../images/lakes.jpg);
}
#hic4:hover {
  background-image: url(../images/black.png);
  transition: background-image 0.3s 0.1s;
}
#hic5 {
  background-image: url(../images/Main\ marimekko.jpg);
}
#hic5:hover {
  background-image: url(../images/black.png);
  transition: background-image 0.3s 0.1s;
}
#hic6 {
  background-image: url(../images/finlandiaVodka.png);
}
#hic6:hover {
  background-image: url(../images/black.png);
  transition: background-image 0.3s 0.1s;
}

.homeimagecontainer p {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 7px;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

/*LOWER IMAGES STYLE ENDS*/

/* FOOTER STYLES BEGIN */

#footercontainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 5px;
  height: 50px;
  width: 100vw;
  -webkit-box-shadow: 0px -8px 28px -21px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -8px 28px -21px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -8px 28px -21px rgba(0, 0, 0, 0.75);
}

.imageheader#dashboardimage {
  background-image: url(../images/lakefromabove.jpg);
}

/*FOOTER STYLES END*/

/*DASHBOARD PAGE SPECIFIC STYLES BEGINS*/

/*DASHBOARD SEARCH AREA BEGINS*/
#searchsectioncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#searchsectioncontainer > p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}

#buttonscontainer {
  display: flex;
  justify-content: space-around;
}

.eventbutton {
  text-align: center;
  background-color: white;
  font-family: "Roboto Mono";
  box-sizing: content-box;
  border: 1px solid chocolate;
  border-radius: 6px;
  width: 90px;
  color: chocolate;
  margin: 10px 5px;
  padding: 10px;
  transition: all 0.6s;
}

.eventbutton:hover {
  transition: all 0.6s;
  background-color: chocolate;
  color: white;
}

.eventbutton:focus {
  transition: all 0.6s;
  background-color: chocolate;
  color: white;
  outline: none;
  border: none;
}

#searchbutton {
  margin-top: 20px;
  width: 80vw;
  height: 15px;
  padding: 10px;
}

.searchinput {
  color: chocolate;
  border: 0;
  border-radius: 3px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid chocolate;
  outline: 0;
  height: 30px;
  width: 250px;
  margin: 20px auto;
}

.searchinput::placeholder {
  color: chocolate;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 1.2rem;
}
#searchinput1::placeholder {
  color: chocolate;
  font-size: 1rem;
}

#searchresultscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.resultsitemcontainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding-bottom: 15px;
  border-bottom: 1px solid chocolate;
}

.resultsitem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/miikka-luotio-3SDVrlAP1Uo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  margin: 0 auto 10px auto;
  width: 300px;
}

.resultsitem > h3 {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  width: 80%;
  border-radius: 2px;
}

.resultsitemcontainer p {
  padding: 10px;
  margin-bottom: 10px;
}
.resultsitemcontainer a {
  padding: 10px 10px 20px 10px;
  margin-bottom: 5px;
  color: chocolate;
  text-decoration: none;
}

/*DASHBOARD SEARCH AREA ENDS*/

/*DASHBOARD PAGE SPECIFIC STYLES END*/

/*FAQ PAGE SPECIFIC STYLES BEGIN*/

#faqimage {
  background-image: url("../images/faqimage2.jpg");
}

.questioncontainer {
  margin-top: 20px;
  margin-left: 10px;
}

.question {
  text-align: left;
  font-size: 1.2rem;
  width: fit-content;
  border-radius: 15px;
  padding: 10px;
  color: chocolate;
}

.answer {
  text-align: center;
  margin-left: 25%;
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid chocolate;
}

.answer strong {
  font-weight: 400;
  color: chocolate;
}

/*FAQ SPECIFIC STYLES END*/

/*LOGIN SPECIFIC STYLES BEGIN*/
#maindivlogin {
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-direction: row;
  color: chocolate;
  height: 740px;
}

#loginheader {
  text-align: center;
  position: relative;
  margin-top: 50px auto 0 auto;
  padding: 10px;
  color: chocolate;
  font-size: 3rem;
}

#loginform {
  padding: 10px;
  background-color: rgba(256, 256, 256, 0.3);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px auto;
  width: 70%;
}

.hideme {
  transition: all 2s;
  opacity: 0;
}
/*LOGIN SPECIFIC STYLES END*/

/* START STYLES FOR LARGER SCREENS*/

/*NAV BAR*/

@media (min-width: 768px) {
  #navbarmenu {
    display: flex;
    width: 95vw;
    justify-content: flex-end;
  }
  #navbarmenu a {
    text-decoration: none;
    color: chocolate;
    margin: 0 20px;
  }
  .fa-ellipsis-v.closed {
    display: none;
  }
  .fa-ellipsis-v.open {
    display: none;
  }
  #hamburgercontainer.closed {
    display: none;
  }

  #hamburgercontainer ul {
    display: none;
  }

  #hamburgercontainer.open {
    display: none;
  }
  #hamburgercontainer a {
    display: none;
  }

  /*NAVBAR ENDS*/
  /*Homepage begins*/

  .imageheadertext {
    margin: auto;
  }

  #imageheader1 {
    order: 1;
  }
  #textcontainer1 {
    order: 2;
  }
  #textcontainer3 {
    border-top: 1px solid chocolate;
    padding-top: 20px;
    order: 3;
  }
  #small1 {
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid chocolate;
    margin: 10px auto 30px auto;
    order: 4;
    display: flex;
  }
  #imageheader2 {
    order: 5;
  }
  #textcontainer2 {
    border-top: 1px solid chocolate;
    padding-top: 20px;
    order: 6;
  }
  #small2 {
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid chocolate;
    margin: 10px auto 30px auto;
    order: 7;
    display: flex;
  }
  #imageheader3 {
    order: 8;
  }

  #searchresultscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    border-top: 1px solid chocolate;
  }

  .resultsitemcontainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .resultsitem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../images/miikka-luotio-3SDVrlAP1Uo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    margin: 0 auto 10px auto;
    width: 300px;
  }

  #loginform {
    padding: 20px;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
  }

  #loginform form {
    display: flex;
    flex-direction: column;
  }

  /*FAQ PAGE STARTS*/
}
